@{
    ViewBag.Title = "msgsent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Message has beed sent.</h2>
<p>
    Message has beed sent. <br /><br />
    @Html.ActionLink("Back to search", "search", "home");
</p>

